
/*****HEADER*****/

/***JUMBOTRON***/
.jumbotron {
  background-image: url("../images/contactUs-banner-sm.jpg");
  background-size: 100% 100%;
  margin-top: 10vh;
  height: 60vh;
}

.nav-button-jmb{/*CART AND USER ICON FOR XS VIEW*/
  color: white;
}
/***END OF JUMBOTRON***/

/*****END OF HEADER*****/


/****MAIN****/
main{
  padding-bottom: 20vh;
}

/**FORM**/
.shadow-effect{
  -webkit-box-shadow: 0 8px 6px -6px #777;
  -moz-box-shadow: 0 8px 6px -6px #777;
  box-shadow: 0 8px 6px -6px #777;
}
/**END OF FORM**/

/**MEDIA OBJECT**/
.media{
  background-color: #fff;
}

.media-body h4{
  font-size: 20px;
  text-align: center;
}

.media-body p{
  font-size: 14px;
  text-align: center;
}

.media-body .card img{
  height: 120px;
}

.media-body .card-body h5{
  font-size: 16px;
  text-align: center;
}

.media-body .card-body p{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: justify;
}

.media-body .card-footer{
  text-align: center;
}
/**END OF MEDIA OBJECT**/

/****MEDIA QUERIES*****/
@media (min-width: 992px){
  nav{
    height: 8vw;
  }

  header{
    height: 85vh;
  }

  .jumbotron{
    height: 65vh;
  }

  .media{
    margin-top: 1.5vh;
    margin-left: 5vh;
  }

  .media-body .card img{
    height: 70px;
  }
}