*{
  margin: 0;
  padding: 0;
}

.logo{
  font-family: 'Delius Unicase', cursive;
  padding: 1.5%;
  border: solid 3px #6d6875;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  background-color: #707568;
}

.logo-xs{
  font-family: 'Vampiro One', cursive;
  font-size: 1.7rem;
   border-radius: 10px/30px;
   border-radius: 30px/10px;
}

a.navbar-brand {
  color: #ffcdb2 !important;
}

a.nav-link{
  color: #262626 !important;
}

a.nav-link:hover{
  color: #ff1a1a !important;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: #ffb4a2 !important;
}

nav{
  background-color: white;
}

/*TOGGLER ANIMATION */
.navbar-toggler{
  margin: 1vh 0;
  padding: 3%;
  border: none;
  background: transparent !important;
}

.icon-bar {
  width: 30px; 
  height: 4px;
  background-color: #ffb4a2;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.icon-bar:first-of-type {margin-top: 0;}

.navbar-toggler .top-bar {
  transform: translate(3px) rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: translate(3px) rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-collapse ul li{
  font-size: 1.2em;
}

.navbar-collapse ul li span[class~=badge-pill]{
  font-size: 0.6em;
}

.navbar-form{
  border: 1px solid #ced4da;
  border-radius: 5px;
}

#form-button:hover{
  background-color: #d9d9d9;
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color: #cccccc; 
}

.nav-button{
  font-size: 1.7em;
  color: #262626;
}

.jumbotron {
  background-image: url("../images/contactUs-banner-sm.jpg");
  background-size: 100% 100%;
  margin-top: 12vh;
  height: 60vh;
}

.nav-button-jmb{
  color: white;
}