****General CSS*****/
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f9faf8;
}

.container,.container-fluid{
  overflow: auto;
}

.shadow-effect{
  -webkit-box-shadow: 0 8px 6px -6px #777;
  -moz-box-shadow: 0 8px 6px -6px #777;
  box-shadow: 0 8px 6px -6px #777;
}
/*****End of General CSS*****/


/*****HEADER*****/

/***NAVBAR***/

nav{
  background-color: white;
}

/*BRAND lOGO*/
a.navbar-brand {  
  color: #ffcdb2 !important;
}

.logo{
  font-family: 'Delius Unicase', cursive;
  padding: 1.5%;
  border: solid 3px #6d6875;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
  background-color: #707568;
}

.logo-xs{
  font-family: 'Vampiro One', cursive;
  font-size: 1.7rem;
  border-radius: 10px/30px;
  border-radius: 30px/10px;
}
/*END OF BRAND lOGO*/

/*NAVIGATION LIST ITEMS*/
a.nav-link{
  color: #262626 !important;
}

a.nav-link:hover{
  color: #ff1a1a !important;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: #ffb4a2 !important;
}

.navbar-collapse ul li{
  font-size: 1.2em;
}

.navbar-collapse ul li span[class~=badge-pill]{
  font-size: 0.6em;
}
/*END OF NAVIGATION LIST ITEMS*/

/*TOGGLER ANIMATION */
.navbar-toggler{
  margin: 1vh 0;
  padding: 3%;
  border: none;
  background: transparent !important;
}

.icon-bar {
  width: 30px; 
  height: 4px;
  background-color: #ffb4a2;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler,.navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.icon-bar:first-of-type{
  margin-top: 0;
}

.navbar-toggler .top-bar {
  transform: translate(3px) rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: translate(3px) rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/*END OF TOGGLER ANIMATION */

/*NAVBAR RIGHT SIDE ITEMS*/
#srch-item{
  border: none;
}

.navbar-form{
  border: 1px solid #ced4da;
  border-radius: 5px;
}

#navbarSearch-button:hover{ /*SEARCH ICON HOVER*/
  background-color: #d9d9d9;
}

.add-on .form-control:focus { /*PREVENT BOOTSTRAP BLUE SHADOW*/
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color: #cccccc; 
}

.nav-button{ /*CART AND USER ICON*/
  font-size: 1.7em;
  color: #262626;
}
/*END OF NAVBAR RIGHT SIDE ITEMS*/

/***END OF NAVBAR***/

/*****END OF HEADER*****/


/****FOOTER****/
.footer{
  background-color: #fff;
  color: #868c98;
}

.footer img{
  margin-top: 7vh;
  height: 80px;
  width: 180px;
}

.footer p{
  margin-top: 5vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: italic;
}

h5.footer-heading{
  font-family: 'Delius Unicase', cursive;
  margin-top: 9vh;
  margin-bottom: 5vh;
}

ul.footer-links a{
  text-decoration: none;
  color: #868c98;
}

ul.footer-links a li{
  font-family: 'Roboto', cursive;
  font-weight: 300;
  padding-bottom: 2vh;
  transition: all 0.3s ease-out 0s;
}

ul.footer-links a li:hover{
  color: #ff1a1a;
  margin-left: 10px;
}

.footer-copyright p{
  font-family: 'Roboto', cursive;
  font-weight: 900;
  font-style: unset;
}
/****END OF FOOTER****/


/***MEDIA QUERIES***/

@media screen and (min-width: 992px){
  .navbar-nav{
    padding-left: 5vw;
  }
}