/***JUMBOTRON***/
header{
  height: 70vh;
}

.jumbotron {
  background-image: url("../images/shop-banner.jpg");
  background-size: 100% 100%;
  margin-top: 10vh;
  height: 100%;
}

.nav-button-jmb{/*CART AND USER ICON FOR XS VIEW*/
  color: #ff1a1a;
}

.head-banner{
  align-items: center;
  padding-top: 14vh;
}

.head-brand{
  display: flex;
  justify-content: flex-end;
  padding-right: 18vw;
}

.head-tagline{
  display: flex;
  justify-content: flex-end;
}

.head-banner .head-tagline p.head-banner-p{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 3rem;
  color: #102a56;
  word-spacing: 0.2vw;
  letter-spacing: 3px;
  justify-content: flex-end;
  padding-right: 2vw;
}
/***END OF JUMBOTRON***/

/*****MAIN CONTENT****/

/***Landing View**/
.main-content-tagline{
  height: 20vh;
}

.main-content-tagline > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-tagline > div > h2{
  font-family: 'Delius Unicase', cursive;
  font-size: 4rem;
  color: #ff1a1a;
  animation: scale 4s ease-in-out infinite alternate; 
}

@keyframes scale{
  0%{

  }

  100%{
    transform: scale(1.1);
  }
}

.down-scroll .btn{
  margin-left: 5vw;
  font-size: 5rem;
  color: #ffcdb2;
  transition: transform 0.3s;
}

.down-scroll .btn:active{
  color: #b5838d;
  transform: scale(0.7);
}
/***End of Landing View**/

















@media only screen and (max-width: 991px){

  header{
    height: 50vh;
  }

  .jumbotron{
    height: 100%;
  }

  #form-button button{
    background-color: #fff;
    border-left: 1px dashed #ff1a1a;
  }

  .head-banner{
    padding-top: 7vh;
  }

  .head-banner .head-tagline p.head-banner-p{
    font-size: 1rem;
    color: #102a56;
    text-align: center;
  }

  .main-content-tagline{
    height: 40vh;
  }

  .main-content-tagline > div > h2{
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
  }
}

@media screen and (min-width: 992px){

  .down-scroll .btn:hover{
    color: #b5838d;
  }

}
